// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #D7D7DB;
@syntax-cursor-color: @syntax-text-color;
@syntax-selection-color: #485A83; // mix(#5675B9, @syntax-background-color)
@syntax-selection-flash-color: @syntax-selection-color;
@syntax-background-color: #2A2A2E;

// Guide colors
@syntax-wrap-guide-color: #3C3C3D;
@syntax-indent-guide-color: @syntax-wrap-guide-color;
@syntax-invisible-character-color: @syntax-wrap-guide-color;

// For find and replace markers
@syntax-result-marker-color: fade(#FF0, 40%);
@syntax-result-marker-color-selected: @syntax-selection-color;

// Gutter colors
@syntax-gutter-text-color: #939393;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @syntax-background-color;
@syntax-gutter-background-color-selected: @syntax-background-color;

// For git diff info. i.e. in the gutter
@syntax-color-added: mix(#0F0, @syntax-background-color, 60%);
@syntax-color-modified: mix(#FF8000, @syntax-background-color, 60%);
@syntax-color-removed: mix(#F00, @syntax-background-color, 60%);
@syntax-color-renamed: mix(#00F, @syntax-background-color, 60%);

// These colors are specific to the theme. Do not use in a package!

@syntax-bracket-matcher: mix(#FFF, @syntax-background-color, 25%);
@syntax-comment: @syntax-gutter-text-color;
@syntax-constant: #FF7DE9;
@syntax-cursor-line: fade(@syntax-selection-color, 30%);
@syntax-entity: #75BFFF;
@syntax-keyword: @syntax-constant;
@syntax-markup-attribute: @syntax-constant;
@syntax-markup-tag: @syntax-entity;
@syntax-numeric: #6B89FF;
@syntax-property: #86DE74;
@syntax-string: @syntax-numeric;
@syntax-style-at-rule: @syntax-entity;
@syntax-style-class: @syntax-entity;
@syntax-style-id: @syntax-constant;
@syntax-support: #B98EFF;
